body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f4eae4; */
    /* background: linear-gradient(145deg, #2c2c2c, #1a1a1a); */
    background: linear-gradient(145deg, #232526, #414345, #1110117f);
    /* background: linear-gradient(145deg, #232526, #414345); */

}

.img-container{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.img-container img{
    margin: 10px;
    border: 2px solid rgb(138, 137, 137);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0, .3), 0 6px 6px rgba(0,0,0, 0.2);
    background-color: rgba(255, 255, 255, 0.334);
    width: 300px;
    height: 300px;

}

.btn{
    background-color: #414345;
    border: none;
    padding: 10px 20px;
    margin:10px ;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(1,1,1, .2), 0 6px 6px rgba(0,0,0, 0.2);
}

.btn:hover {
    border: 2px solid silver;
    color:silver;
    background-color: rgba(0, 0, 0, 0.693);
}

.input{
    width: 40px;
    height: 10px;
    margin: 20px;
    padding: 10px;
    background: #a5a4a8;
    border: 1px solid silver;
    border-radius: 6px;
    
}